*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif
}
body{
    background-color: #0a1201;
}
.allth{
    background-color: transparent;
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
}
.header{
    color: #ffffff;
    width: 100vw;
    height: 5vh;
    margin-top: 0.7rem;
}
.allth .header .back{
    color: #ffffff;
    font-size: 1.8rem;
    position: absolute;
    width: 7vw;
    height: 5vh;
    text-align: center;
    text-decoration: none;
}
.header h1{
    color: #ffffff;
    width: 100%;
    height: 7vh;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.content{
    position: relative;
    margin-top: 3rem;
    margin-left: 3rem;
}
.content h3{
    color: #24d71b;
    display: flex;
    align-items: center;
    gap: .2rem;
}
.allth .box{
    background-color: red;
    display: inline;
    position: relative;
}
.allth .box .card{
    display: block;
    width: 90%;
    height: 70%;
    border: 0.1rem solid #197914;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}
.allth .box .card p{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.allth .box .card span{
    height: 0.1rem;
    width: 100%;
    background-color: #197914;
    position: fixed;
    margin-top: 0.5rem;
}
.allth .box .multi{
    display: block;
    width: 100%;
    height: 92%;
    margin-top: 0.5rem;
}
.allth .box .multi .tips{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    padding-top: 3rem;
}
.allth .box .multi .tips ul{
    color: #15b40d;
    list-style-type: square;
    list-style-position: inside;
}
.allth .box .multi .tips ul a{
    text-decoration: none;
    color: #27dd1d;
}

/*Responsive Website*/
@media only screen and (max-width: 830px) {
    .content{
        margin-left: 1.5rem;
    }
}
@media only screen and (max-width: 650px) {
    html{
        font-size: 90%;
    }
    .content{
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 590px) {
    .allth .box .card .multi .tips ul a{
        font-size: 90%;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 520px) {
    .allth .box .card .multi .tips ul a{
        font-size: 80%;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 490px) {
    .allth .box .card .multi .tips ul a{
        font-size: 80%;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
    .allth .box .card .multi .tips{
        padding-left: 0.5rem;
        padding-top: 2rem;
    }
}
@media only screen and (max-width: 460px) {
    .allth .box .card .multi .tips ul a{
        font-size: 70%;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
    .allth .box .card .multi .tips{
        padding-left: 0.5rem;
        padding-top: 2rem;
    }
}
@media only screen and (max-width: 390px) {
    .header{
        margin-top: 2rem;
    }
    .allth .box .card .multi .tips ul a{
        font-size: 70%;
    }
    .content{
        margin-top: 4rem;
        margin-left: 1rem;
        font-size: 1rem;
    }
    .allth .box .card .multi .tips{
        padding-left: 0.5rem;
        padding-top: 2rem;
    }
    .allth .box .card{
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 380px) {
    .header h1{
        font-size: 1.8rem;
    }
    .allth .header .back{
        font-size: 1.5rem;
        margin-top: 0.4rem;
    }
    .allth .box .card .multi .tips ul a{
        font-size: 60%;
    }
    .allth .box .card .multi .tips{
        padding-left: 0.5rem;
        padding-top: 2rem;
    }
    .allth .box .card{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 360px) {
    .header h1{
        font-size: 1.7rem;
    }
    .allth .header .back{
        font-size: 1.3rem;
    }
}
