*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Varela Round';
}
body{
    background-color: #000000;
}
.allth{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}
.header{
    color: #ffffff;
    width: 100vw;
    height: 7vh;
    margin-top: 0.9rem;
}
.allth .header .back{
    color: #ffffff;
    font-size: 1.8rem;
    position: absolute;
    width: 7vw;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.header h1{
    color: #ffffff;
    width: 100vw;
    height: 7vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
}
.allth h3{
    color: #0bf126;
    margin-top: 2rem;
    margin-left: 4.2rem;
}
.allth .box{
    display: inline;
    position: relative;
    overflow: auto;
}
.allth .box .card{
    display: block;
    width: 90%;
    height: auto;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}
.allth .box .card .heading{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}
.allth .box .card .heading1{
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}
.allth .box .card .join{
    display: flex;
    position: absolute;
    text-align: left;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    padding-left: 5rem;
}
.allth .box .card .join .para{
    color: #ffffff;
    font-size: 1.1rem;
}
.allth .box .card .join .para .poc1{
    width: 50rem;
    border-radius: 0.7rem;
}
.allth .box .card .join .para .poc{
    width: 15rem;
    border-radius: 0.7rem;
}
.allth .box .card .join .para .bc{
    width: 50rem;
    border-radius: 0.7rem;
}

/*Responsive Website*/
@media only screen and (max-width:1045px) {
    html{
        font-size: 90%;
    }
    .allth .header h1{
        font-size: 2rem; 
    }
    .allth .box .card .join{
        padding-left: 2rem;
    }
}
@media only screen and (max-width:915px) {
    html{
        font-size: 85%;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:750px) {
    html{
        font-size: 80%;
    }
    .allth .header .back{
        width: 10vw;
    }
    .allth .box .card .join .para .poc1{
        width: 40rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .poc{
        width: 15rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .bc{
        width: 40rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join{
        padding-left: 1rem;
    }
    .allth .box .card .heading1{
        font-size: 1rem;
    }
    .allth h3{
        margin-left: 2.3rem;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:570px) {
    html{
        font-size: 80%;
    }
    .allth .box .card .heading1{
        font-size: 0.9rem;
    }
    .allth .box .card .join .para .poc1{
        width: 30rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .poc{
        width: 15rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .bc{
        width: 30rem;
        border-radius: 0.7rem;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:470px) {
    html{
        font-size: 80%;
    }
    .allth h3{
        margin-left: 2rem;
        font-size: 1.1rem;
    }
}
@media only screen and (max-width:450px) {
    html{
        font-size: 80%;
    }
    .allth h3{
        margin-left: 1.5rem;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:420px) {
    html{
        font-size: 80%;
    }
    .allth .content h3{
        font-size: 0.8rem;
        margin-top: 3rem;
    }
    .allth .box .card .join .para .poc1{
        width: 25rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .poc{
        width: 15rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .bc{
        width: 25rem;
        border-radius: 0.7rem;
    }
    .allth .header .back i{
        font-size: 25px !important;
        padding-top: 0.5rem;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:390px) {
    html{
        font-size: 80%;
    }
    .allth .box .card .heading1{
        font-size: 0.8rem;
    }
    .allth h3{
        margin-left: 1rem;
        font-size: 1rem
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:360px) {
    html{
        font-size: 75%;
    }
    .allth h3{
        margin-left: 1rem;
        font-size: 0.8rem
    }
    .allth .box .card .heading1{
        font-size: 0.7rem;
    }
    .allth .box .card .join .para .poc1{
        width: 20rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .poc{
        width: 10rem;
        border-radius: 0.7rem;
    }
    .allth .box .card .join .para .bc{
        width: 20rem;
        border-radius: 0.7rem;
    }
    .allth .header h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:310px) {
    html{
        font-size: 67%;
    }    
    .allth .header h1{
        font-size: 2rem;
    }
}
