*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000000;
}
.footerline{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
}
.footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    transition: 0.1s;
    left: 50%;
    transform: translate(-50%);
}
.footer a{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.footer .home-logo, .blog-logo, .video-logo, .success-logo{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.footer .home-logo{
    width: 3rem;
    background-color: #1798FF;
    border-radius: 50%;
}
.footer .blog-logo{
    width: 3rem;
}
.footer .video-logo{
    width: 3.7rem;
}
.footer .success-logo{
    width: 4.1rem;
}
.footer span{
	left: 0;
	display: block;
	color: #ffffff;
	font-size: 0.7rem;
	text-decoration: none;
    text-transform: lowercase;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
.footer .home-logo:hover+span, .blog-logo:hover+span, .video-logo:hover+span, .success-logo:hover+span{
    opacity: 1;
}
.footer .home-logo:hover, .blog-logo:hover, .video-logo:hover, .success-logo:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.first{
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.om{
    width: 100%;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.om .aum{
    width: 3rem;
}
.first .dp{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}
.first h1{
    margin-top: 0.7rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.first p{
    font-size: 1.3rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.first a{
    pointer-events: all;
}
.first .twitter{
    margin-top: 1.3rem;
    width: 3rem;
}
.first .mail{
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    width: 3rem;
}
.first .telegram{
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    width: 3rem;
}





/*responsive website*/
@media screen and (max-width: 1024px){
    .footer{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    .footer{
        width: 50%;
    }
}
@media screen and (max-width: 580px){
    .footer{
        width: 60%;
    }
}
@media screen and (max-width: 480px){
    .footer{
        width: 80%;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 90%;
    }
    .footer{
        width: 85%;
    }
}
